<div class="d-flex justify-content-end">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item">
        <a
          class="page-link link-success rounded-start-1"
          href="#"
          aria-label="Previous"
        >
          <span class="material-symbols-outlined fs-5 align-middle">
            chevron_left
          </span>
        </a>
      </li>
      <li class="page-item"><a class="page-link active" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a
          class="page-link link-success rounded-end-1"
          href="#"
          aria-label="Next"
        >
          <span class="material-symbols-outlined fs-5 align-middle">
            chevron_right
          </span>
        </a>
      </li>
    </ul>
  </nav>
</div>
